<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../object/calculator.php" method="post">
        <ul>
            <li>
                <label for="nilai1">Nilai 1</label>
                <input type="number" name="nilai1" id="nilai1">
            </li>
            <li>
                <label for="nilai2">Nilai 2</label>
                <input type="number" name="nilai2" id="nilai2">
            </li>
            <li>
                <input type="submit" value="tambah">
            </li>
        </ul>
    </form>
</body>
</html>